@import "node_modules/bootstrap/dist/css/bootstrap.min.css";

/* Univeersal */
*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Lato", sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

.section {
	padding: 5rem 0;
}

.font-40 {
	font-size: 40px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}
.font-30 {
	font-size: 30px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}
.font-20 {
	font-size: 20px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

.font-16 {
	font-size: 16px;
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	line-height: 30.5px;
}

img {
	width: 100%;
	height: 100%;
}

/* utilities */

.highlighted {
	background: #ba232e;
	border-radius: 2px;
}

.highlighted .nav-link {
	color: #fff;
}

.logo {
	width: 70px;
	height: 50px;
}

.imgg {
	order: 1 !important;
}

.about-content {
	order: 2 !important;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(1, 38, 82, 0.68);
	z-index: 1;
}
.bg-navy {
	background: rgba(1, 38, 82, 0.68);
	transition: 0.5s ease;
}

.bg-dim-white {
	background: #f8f9fa;
}

.card-hover:hover {
	background: #fff;
	color: #000 !important;
	transition: 0.5s ease;
}

.card-hoverSec:hover {
	background: rgba(1, 38, 82, 0.68);
	color: #fff !important;
	transition: 0.5s ease;
}

.text-resizer {
	max-width: 60%;
	margin: auto;
	font-weight: 300;
}

.bg-orz {
	background: #ba232e;
}

.show-btn {
	width: 50%;
}
.card-btn {
	width: 60%;
}
.show-btn:hover {
	background: #ba232dde;
}

.navbar li {
	padding: 0 20px;
}

.nav-items {
	position: relative;
}
.nav-items::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	transition: 0.5s ease;
	z-index: -1;
	border: 0;
}
.nav-items:hover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ba232e;
	margin: 0 10px;
	border-radius: 2px;
}

.nav-items:hover a {
	color: #fff;
}

.showcase {
	position: relative;
	padding-top: 200px !important;
}
/* Slick_Slide */
.box {
	width: 100%;
	height: 350px;
	margin: 0 10px;
}

.box img {
	width: 100%;
	height: 100%;
}

.slick-prev:before,
.slick-next:before {
	color: #ba232e;
	font-size: 20px;
}

.teamVid {
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 3px 10px #dbdbbd;
}
.teamVid video {
	height: inherit;
}

.Testimonial {
	position: relative;
	background: url("../img/aboutBgg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.test-content,
.slick-card {
	position: relative;
	z-index: 2;
}

.footer a {
	text-decoration: none;
}

.footerLogo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

@media (max-width: 820px) {
	.navbar-nav {
		margin: 3rem auto;
	}

	.navbar li {
		margin: 20px 0;
	}

	.nav-items:hover::before {
		margin: 0;
	}
}

@media (max-width: 768px) {
	.logo,
	.footerLogo {
		width: 50px;
		height: 25px;
	}

	.showcase {
		position: relative;
		padding-top: 150px !important;
	}

	.text-resizer {
		max-width: 100%;
		margin: auto;
	}

	.teamVid {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.navbar li {
		padding: 10px 0;
	}

	.btn-stretch {
		width: 100%;
	}

	.show-btn {
		width: 100%;
	}

	.card-btn {
		width: 100%;
	}

	.show-title {
		text-transform: uppercase;
		font-size: 32px;
		font-weight: 800;
	}

	.ab-flex {
		display: flex;
		flex-direction: column;
	}

	.about-content {
		order: 1 !important;
	}

	.imgg {
		order: 2 !important;
	}
}
